@charset "UTF-8";
html {
    font-size: 90%;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' condensed;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navigation */

.logo img{
  padding-top: 15px;
  padding-left: 15px;
  width: 120px;
}

.nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  width: 40%;
  min-height: 10vh;
  align-items: center;
  text-decoration: none;
}
.nav ul li{
  list-style: none;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.nav ul li:hover{
  color: crimson;
}

/* hero */

.hero-div{
  background: linear-gradient(to top, rgba(214, 209, 209, 0.3), rgba(214, 209, 209, 0.3)), url(./images/hero1.png) center no-repeat;
  background-size: cover;
  height: 50vh; 
}
.hero{
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
}
.hero h2{
  font-weight: 800;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.hero h2 span{
  font-size: 5rem;
  color: crimson;
  margin-top: 0;
}

.blank{
  padding-top: 200px;
  padding-bottom: 50px;
}
/* Footer */

.footer{
  background-color: #1d1d1d;
  padding-left: 110px;
  padding-bottom: 0;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.footer .footer__centre h1{
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 15px;
}
.footer .footer__centre{
  margin-left: 250px;
  margin-right: 250px;
}
.footer .footer__right h1{
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 15px;
}
.footer .footer__right ul{
  padding-left: 0;
}
.footer .footer__right ul li{
  list-style: none;
  padding-bottom: 10px;
}
.footer .footer__centre h2{
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.footer .footer__centre ul{
  padding-left: 0;
}
.footer .footer__centre ul li{
  list-style: none;
  padding-bottom: 10px;
}

.watermark{
  background-color: #1d1d1d;
  text-align: center;
  color: #ddd;
  padding-bottom: 30px; 
}

/* Contact */

.contact{
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F9F9F9;
}
.contact form h1{
  padding-bottom: 30px;
  font-weight: 400;
}
.contact .message{
  padding-top: 10px;
}
.contact .message textarea{
  width: 100%;
  border: 1px solid #ddd;
  height: 100px;
  padding: 10px 10px;
  outline: none;
  border-radius: 3px;
  font-family: 'Open Sans' Condensed;
  font-size: 1.1rem;
}
.contact form .contact-first input[type='text'],.contact form .contact-first input[type='email']{
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
  font-family: 'Open Sans' Condensed;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-right: 5px;
}
.contact form input[type='submit']{
  float: right;
  margin-top: 10px;
  padding: 7px 30px;
  background-color: crimson;
  color: white;
  outline: none;
  border: 1px solid crimson;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans' Condensed;
  font-weight: 700;
}
.contact form input[type='submit']:hover{
  color: crimson;
  background-color: white;
  border: 1px solid #ddd;
}